#wrapper-footer {
  background: $primary;
  color: $white;

  .site-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    a {
      color: $white;
    }

    span.fa {
      font-size: 2.5rem;
    }
  }
}