header {
  .hero-content {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;

    @include media-breakpoint-up(md) {
      padding-top: 4rem;
      padding-bottom: 6rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 6rem;
      padding-bottom: 8rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 8rem;
      padding-bottom: 10rem;
    }

    figure.hero-content__image {
      svg {
        width: 80px;

        @include media-breakpoint-up(md) {
          width: 110px;
        }

        @include media-breakpoint-up(lg) {
          width: 120px;
        }
      }
    }
    h1.hero-content__heading {
      font-size: 2.3rem;

      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 3.5rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 3.75rem;
      }
    }
    h2.hero-content__subheading {
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      line-height: 1.5;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: .5rem;
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        font-size: 1.25rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.35rem;
      }
    }
  }
}

body.home {

  section {
    padding: 5rem 0 0;

    @include media-breakpoint-up(md) {
      padding: 6rem 0 0;
    }

    @include media-breakpoint-up(lg) {
      padding: 8rem 0 0;
    }

    @include media-breakpoint-up(xl) {
      padding: 10rem 0 0;
    }

    h2,
    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.3rem;
    }

    &.hello {
      h2 {
        margin-bottom: 3rem;
      }
      p {
        @include narrow-content;

        @include media-breakpoint-up(lg) {
          max-width: 700px;
        }

      }
    }

    &.skills-services {
      h2 {
        margin-bottom: 5rem;
      }
      .col-md-6,
      .col {
        display: flex;
        justify-content: center;

        .bubble {
          position: relative;
          padding: 4.5rem 2rem 2rem;
          height: 100%;
          overflow: visible;

          &::after {
            font-family: FontAwesome;
            font-size: 1.85rem;
            content: "";
            position: absolute;
            top: -1.75rem;
            left: 50%;
            transform: translateX(-50%);
            height: 80px;
            width: 80px;
            border-radius: 100%;
            border: 12px solid;
            background: $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          &.bubble--design-development {
            &::after {
              content: "\f121";
              border-color: $yellow;
              color: $yellow;
            }
          }

          &.bubble--seo-speed-optimization {
            &::after {
              content: "\f1de";
              border-color: $orange;
              color: $orange;
            }
          }

          &.bubble--maintenance-security {
            &::after {
              content: "\f023";
              border-color: $red;
              color: $red;
            }
          }

          &.bubble--content-writing-strategy {
            &::after {
              content: "\f11c";
              border-color: $green;
              color: $green;
            }
          }
        }
      }
    }

    &.recent-work {
      display: flex;
      flex-direction: column;
      align-items: center;
      // background: #f1f2f3;
      background-image: url("../img/waves.svg");
      background-size: cover;
      margin-top: 5rem;
      padding-bottom: 5rem;

      @include media-breakpoint-up(md) {
        margin-top: 6rem;
        padding-bottom: 6rem;
      }

      @include media-breakpoint-up(lg) {
        margin-top: 8rem;
        padding-bottom: 8rem;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 10rem;
        padding-bottom: 10rem;
      }

      h2 {
        margin-bottom: 3rem;
      }

      .container {
        @include media-breakpoint-up(xl) {
          padding-left: 3rem;
          padding-right: 3rem;
          @include wide-content;
        }

        a.portfolio-link {
          h3 {
            color: $body-color;
            margin-top: 1rem;
          }
        }
      }

      .btn {
        margin-top: 3rem;
      }
    }

    &.get-in-touch {
      padding-bottom: 5rem;
      @include media-breakpoint-up(lg) {
        padding-bottom: 10rem;
      }
      p {
        text-align: center;
        &.thankyou {
          color: $green;
        }
      }
      form.wpcf7-form {
        padding-left: 1rem;
        padding-right: 1rem;
        @include medium-content;

        p:first-of-type {
          margin-bottom: 3rem;
        }

        label {
          text-align: left;
          font-size: 1rem;
        }

        span.wpcf7-form-control-wrap {
          margin-top: .25rem;
          display: block;

          .wpcf7-not-valid-tip {
            padding-top: .25rem;
          }
        }

        input.btn {
          padding: .5rem 1rem;
          font-size: 1.25rem;
          background-color: $blue;
          border: none;
          color: $white;
          margin-top: 2rem;

          &:hover {
            color: #fff;
            background-color: #024f8e;
            border-color: #024a86;
          }
          @include centered-content;

          @include media-breakpoint-up(lg) {
            margin-top: 4rem;
          }
        }
      }
    }
  }
}