nav.navbar {
  a.navbar-brand {
    font-size: 1rem;
    @include link-style;
    @include focus-hover {
      text-decoration: none;
    }
  }
  ul.navbar-nav {
    a.nav-link {
      color: $white;
      
      @include link-style;
      @include focus-hover {
        text-decoration: none;
      }
    }
  }
  a.linkedin {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      padding-left: .5rem;
      span {
        color: $white;
        font-size: 1.4rem;
        position: relative;
        top: 2px;
      }
    }
    
  }
}