body {
  font-family: Poppins;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 1.15rem;
}

a {
  text-decoration: underline;
  @include focus-hover {
    text-decoration: none;
  }
}